<template>
    <h1>External Libraries</h1>
        <lightning-dual-listbox name="people"
                            label="Filter people"
                            source-label="Displayed"
                            selected-label="Filtered"
                            options={options}
                            onchange={onPeopleListboxChange}>
        </lightning-dual-listbox>
        <lightning-input type="text" value={search} onchange={onSetValue} label="Search" data-property="search"></lightning-input>
    <div>
        <template if:false={isLoading}>
            <strong>Selected people are</strong>:
            <ul>
                <template for:each={peopleToShow} for:item="selectedPerson">
                    <li key={selectedPerson.id}>
                        <span>{selectedPerson.name} - {selectedPerson.birthDate}</span>
                    </li>
                </template>
            </ul>
        </template>
        <template if:true={isLoading}>
            Loading dependencies..
        </template>
    </div>
</template>