<template>
    <h1>Apex</h1>
    <lightning-input type="date" value={minDate} onchange={onSetValue} label="Minimum birth date" data-property="minDate"></lightning-input>
    <div>
        <template if:true={minDate}>
            <template if:false={isLoadingAll}>
                <strong>{peopleTitle}</strong>
                <ul>
                    <template for:each={peopleToShow} for:item="selectedPerson">
                        <li key={selectedPerson.id}>
                            <span>{selectedPerson.name} - {selectedPerson.birthDate}</span>
                        </li>
                    </template>
                </ul>
            </template>
            <template if:true={isLoadingAll}>
                Loading..
            </template>
        </template>
    </div>
</template>