:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shape {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.circle {
    border-radius: 50%;
}

.inputs-container {
    display: flex;
    align-items: flex-end;
}

.inputs-container > * {
    margin-right: 5px;
}

.animated {
    border-radius: 0;
    border-width: 3px;
    animation: spin 4s linear infinite;
}

@keyframes spin { 100% {  transform:rotate(360deg); } }
