<template>
    <h1>Conditional Styling</h1>
    <div class="inputs-container">
        <lightning-input type="text" value={shadowColor} onchange={onSetValue} label="Shadow Color" data-property="shadowColor"></lightning-input>
        <lightning-input type="text" value={backgroundColor} onchange={onSetValue} label="Background Color" data-property="backgroundColor"></lightning-input>
        <lightning-input type="number" value={radius} onchange={onSetValue} label="Radius" data-property="radius"></lightning-input>
        <lightning-button onclick={toggleAnimation} label="Toggle Animation"></lightning-button>
    </div>
    <div class={className} style={style}></div>
</template>