:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bullet {
    width: 5px;
    height: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--lwc-colorTextIconDefault,rgb(112, 110, 107));
}

.bullet:not(.selected) {
    opacity: 0.5;
    cursor: pointer;
}