:host {
    display: flex;
    flex-direction: column;
    background: white;
}

.main-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 0.9;
}

.template-container {
    flex: 0.8;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.icon-container {
    flex: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clickable {
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}