<template>
  <div class="main-container">
    <div class="icon-container">
      <lightning-icon
        icon-name="utility:back"
        alternative-text="Back"
        size="large"
        class={backClassName}
        title="large size"
        onclick={onBack}
      >
      </lightning-icon>
    </div>
    <div class="template-container">
      <c-aspr-template-renderer
        template={selectedTemplate}
      ></c-aspr-template-renderer>
    </div>
    <div class="icon-container">
      <lightning-icon
        icon-name="utility:forward"
        alternative-text="Forward"
        size="large"
        class={forwardClassName}
        title="large size"
        onclick={onForward}
      >
      </lightning-icon>
    </div>
  </div>
  <c-aspr-navigation-bullets
    number-of-bullets={templatesLength}
    onclickbullet={onClickBullet}
    selected-bullet={selectedIndex}
  ></c-aspr-navigation-bullets>
</template>
