:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-container {
    display: flex;
    align-items: flex-end;
}

.inputs-container > * {
    margin-right: 5px;
}