<template>
    <h1>Code Sharing</h1>
        <lightning-dual-listbox name="people"
                            label="Filter people"
                            source-label="Displayed"
                            selected-label="Filtered"
                            options={options}
                            onchange={onPeopleListboxChange}>
        </lightning-dual-listbox>
        <!-- onSetValue is available to us by using the withOnSetValue enhancer -->
        <lightning-input type="text" value={search} onchange={onSetValue} label="Search" data-property="search"></lightning-input>
    <div>
        <strong>Selected people are</strong>:
        <ul>
            <template for:each={peopleToShow} for:item="selectedPerson">
                <li key={selectedPerson.id}>
                    <span>{selectedPerson.name} - {selectedPerson.birthDate}</span>
                </li>
            </template>
        </ul>
    </div>
</template>